tqdm
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-text-splitters
langdetect
numpy
pandas
python-dotenv
lingua-language-detector
fastapi[standard]
rank_bm25